!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    img.topBar(src='/images/p_top.jpg')
    script(src='/javascripts/animator.js')
    script(src='/javascripts/animator.min.js')
  body!= body
