body {
  font: 14px/1.4 Calibri, Helvetica, Arial, sans-serif;
  color: #1e4164;
}
a {
  color: #00b7ff;
}
#addVote {
  display: none;
}
#finalVotes {
  padding: 0 0 0 1em;
  font: 25px/1.4 Calibri, Helvetica, Arial, sans-serif;
}
.topBar {
  padding: 0 0 2em 0;
}
li {
  list-style-type: none;
  padding: 0 0 1.5em 0;
}
label {
  padding: 0 1em 0 0;
}
