html
	head
	body
		form(action='/join', method='post') 
			ul
				li
					label Name 
					input(type='text', name='name') 
				li
					label Email
					input(type='text', name='email')
				li
					input(type='submit')